* {
    font-family: Monaco, serif;
    overflow-y:auto
}

button:hover {
    cursor: pointer;
}

.home {
    display: flex;
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    flex-direction: column;
}

.main-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

/*channels list*/


.channels-list {
    padding: calc(2px + 0.4vw);
    margin: 10px;
    border: 2px dashed #C00000;
    flex: 0.2;
    position:relative;
}

.channels-list ul {
    margin-top: 10px;
    padding: 10px;
    list-style: none;
}


.title_block {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: calc(8px + 1.5625vw);
}

.title_block input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.title button {
    font-family: Monaco, sans-serif;
    background-color: #800000;
    color: white;
    transition: 0.5s background-color ease-in-out;
}

.title button:hover {
    background-color: #C00000;
}

.selected {
    color: #C00000;
    font-weight: bolder;
}

.other:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.channel-wrapper {
    padding: 5px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 5px;
    border: 1px solid #800000;
}

 /* channel messages */
.channel-messages {
    min-height: 85vh;
    padding: 10px;
    margin: 10px;
    border: 2px dashed #C00000;
    flex: 0.6;
}

.messages-list li {
    list-style: none;
    position: relative;
}


.channel-details {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.channel-info {
    position: relative;
    width: 100%;
}


.channel-details span {
    font-size: 2rem;
}

.bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#leave-channel-btn {
    align-self: start;
    width: 2rem;
    border: none;
    color: white;
    height: 2rem;
    border-radius: 50%;
    background-color: #800000;
}


.title-bar {
    width: 60%;
    display: flex;
    margin: 10px 10px 20px 20px;
    /*justify-content: space-between;*/
    align-items: center;
    position: relative;
}

.title-bar > *:not(:first-child) {
    margin-left: 20px;
}

.title-bar button {
    border: none;
    color: white;
    width: 25%;
    height: 2rem;
    background-color: #800000;
    transition: 0.5s background-color ease-in-out;
}

.title-bar button:hover {
    background-color: #c00000;
}

.update-channel-form {
    display: flex;
    align-items: center;
}

.update-channel-form button {
    width: 20%;
    height: 2rem;
    border: none;
    color: white;
    background-color: #800000;
    transition: 0.5s background-color ease-in-out;

}

.update-channel-form button:hover {
    background-color: #c00000;
}


.title-bar input {
    width: 80%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.update-channel-form {
    display: flex;
    align-items: center;
    width: 50%;
}

.message-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.message-contents {
    width: 100%;
    position: relative;
}


.emoji-list {
    margin-right: 10%;
    list-style-type: none;
    overflow: hidden;
}

.emoji-list > li
{
    margin-left: 0;
    float:left;
}

.emoji-list li {
    margin-right: 10px;
    text-decoration: none;
    padding-right: calc(0.5625vw);
}

.reaction {
    height: 1.5rem;
    display: flex;
    align-items: center;
    border: none;
    background-color: #aaa;
    border-radius: 10%;
    transition: 0.5s background-color ease-in-out;
    margin-right: 5px;
}

.reaction:hover {
    background-color: #ccc;
}

.reaction > * {
    margin: 5px;
}


.reply-btn {
    color: white;
    background-color: #800000;
    border-radius: 5px;
    border: none;
    padding: 10px;
    align-self: start;
    width: auto;
    height: 50px;
}

.message-replies {
    position: relative;
    padding: 10px;
    margin: 10px;
    border: 2px dashed #C00000;
    flex: 0.3;
}


.reply-form {
    width: calc(100% - 20px);
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reply-form input {
    word-break: break-all;
    width: 70%;
    display: block;
}

.reply-form button {
    width: 20%;
    border-radius: 5px;
    height: 2rem;
    border: none;
    color: white;
    background-color: #800000;
    transition: 0.5s background-color ease-in-out;
}

.reply-form button:hover {
    background-color: #c00000;
}




@media screen and (max-width: 1200px) {
    .message-replies {
    display: none;
    }
    .channel-messages {
        flex: 1
    }
}

@media screen and (max-width: 600px) {
    .message-replies {
    display: none;
    }
    .channel-messages {
    display: none;
    }
    .channels-list {
        flex: 1
    }
}









